/* 칸반 페이지 전용 스타일 */
.kanban-board {
  width: 76vw;
  height: 70vh;
  padding: 2vh 2vw;
  margin: 4vh auto;

  display: flex;
  justify-content: space-between;

  background-color: beige;
}

/* Column 스타일 */
.kanban-column {
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

.kanban-column__title {
  width: 12vw;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5vh;
  font-weight: bold;
}

/* 기본 컬럼*/
.kanban-column__list {
  height: 56vh;
  padding: 2vh 0;

  display: flex;
  flex-direction: column;
  gap: 2vh;

  background-color: #454545;
}

/* doing 컬럼 박스 */
.kanban-column__doingBox {
  width: 45vw;
  height: 60vh;

  display: flex;
  flex-direction: row;
  gap: 2vh;
  align-items: flex-start;

  background-color: #454545; /* 기존 list 배경을 박스로 올리고 싶으면 */
}

.kanban-column__doingBox .kanban-column__list {
  height: 56vh;
  flex: 1;
  min-width: 0;

  background-color: rgb(49, 177, 177);
  overflow-x: auto;
}

.kanban-column__list.drag-over {
  outline: 2px dashed rgba(255, 255, 255, 0.5);
  outline-offset: 6px;
}

.kanban-lane {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  min-height: 1vh;

  background-color: azure;
}

.kanban-lane.drag-over {
  outline: 2px dashed rgba(255, 255, 255, 0.5);
  outline-offset: 6px;
}

/* TaskCard 스타일 */
.task-card {
  width: 10vw;
  height: 8vh;
  margin: 0 1.2vw;
  padding: 1vh 1vw;

  display: flex;
  align-items: center;

  background-color: antiquewhite;
  border-radius: 2vh;
}

.task-card:hover {
  background-color: aquamarine;
}
