/* 칸반 페이지 전용 스타일 */
.kanban-board {
  width: 76vw;
  height: 70vh;
  padding: 2vh 1vw;
  margin: 4vh auto;

  display: flex;
  justify-content: space-between;

  background-color: #eeeeee;
  border-radius: 4vh;
}

/* Column 스타일 */
.kanban-column {
  min-width: 14.4vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #9a99a0;
  color: white;
  border-radius: 2vh;
}

.kanban-column__title {
  width: 12vw;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5vh;
  font-weight: bold;
}

/* 기본 컬럼*/
.kanban-column__list {
  width: 100%;
  height: 56vh;
  min-width: 0;
  min-height: 56vh;
  padding: 2vh 0;

  display: flex;
  flex-direction: column;
  gap: 2vh;

  background-color: #aaaaaa;
  border-radius: 0 0 2vh 2vh;
  

  /* 스크롤 */
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.kanban-column__list::-webkit-scrollbar {
  display: none;
}

/* doing 컬럼 박스 */
.kanban-column__doingBox {
  width: 45vw;
  height: 60vh;

  display: flex;
  flex-direction: row;
  gap: 2vh;
  align-items: flex-start;

  background-color: #aaaaaa;
  border-radius: 0 0 2vh 2vh;
}

.kanban-column__doingBox .kanban-column__list {
  height: 56vh;
  flex: 1;
  min-width: 0;

  background-color: #aaaaaa;
}

.kanban-column__list.drag-over {
  outline: 0.4vh dashed #ffc400;
  outline-offset: 0.5vh;
}

.kanban-column__scrollArea {
  width: 100%;
  height: 100%;
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: 2vh;

  /* 스크롤 */
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.kanban-column__scrollArea::-webkit-scrollbar {
  display: none;
}

/* TaskCard 스타일 */
.task-card {
  width: 10vw;
  height: 8vh;
  margin: 0 1.2vw;
  padding: 1vh 1vw;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #faf1d7;
  border-radius: 2vh;
  color: #523800;
  font-size: 1.8vh;
}

.task-card:hover {
  background-color: #e6daba;
}
