/* 전체 레이아웃 (공통 container, header, footer) */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: #d3d3d3;
}


.layout-title {
  width: 100%;
  height: 9vh;
  scroll-padding: 1vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: 4vh;
  font-weight: bold;
  color: #ffd900;
  background-color: #9a99a0;
}

.layout-nav {
  width: 100%;
  height: 6vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;

  color: #ececec;
  background-color: #9a99a0;
}

.layout-subtitle {
  width: 16vw;

  display: flex;
  justify-content: center;
  
  font-size: 2vh;
  font-weight: bold;
}

.layout-subtitle:last-child {
  width: 16vw;

  display: flex;
  justify-content: center;
  
  font-size: 2vh;
  font-weight: bold;
  color: #ffe75e;

  cursor: pointer;
}