/* 전체 레이아웃 (공통 container, header, footer) */

.layout-title {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: 4vh;
  font-weight: bold;

  background-color: aliceblue;
}

.layout-nav {
  width: 100%;
  height: 6vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;

  background-color: antiquewhite;
}

.layout-subtitle {
  width: 16vw;

  display: flex;
  justify-content: center;
  
  font-size: 2vh;
  font-weight: bold;
}

.layout-subtitle:last-child {
  width: 16vw;

  display: flex;
  justify-content: center;
  
  font-size: 2vh;
  font-weight: bold;
  color: red;
}