.hidden {
  display: none;
}

.modal-overlay {
  inset: 0;
  position: fixed;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #00000073;
}

.modal {
  width: 48vw;
  height: 40vh;
  padding: 2vh 2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #fff;
  border-radius: 1.5vw;
  box-shadow: 0 1.5vw 2.5vw #00000040;

  overflow: hidden;
}

.modal-header {
  width: 44vw;
  height: 4vh;
  padding: 2vh 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1vh solid #8a8a8a;
  background-color: aqua;
}

.modal-title {
  margin: 0;

  font-size: 2vh;
}

.modal-close {
  border: none;
  background: transparent;
  font-size: 2vh;
  cursor: pointer;
}

.modal-body {
  width: 100%;
  height: 23.75vh;

  background-color: #ad6c18;
}

.modal-footer {
  width: 44vw;
  height: 4vh;
  padding: 2vh 2vw;

  display: flex;
  justify-content: space-between;

  background-color: antiquewhite;
}