.modal-overlay {
  inset: 0;
  position: fixed;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #00000073;
}

.hidden {
  display: none;
}

.modal {
  width: 48vw;
  height: 40vh;
  padding: 2vh 2vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: #fff;
  border-radius: 1.5vw;
  box-shadow: 0 1.5vw 2.5vw #00000040;

  overflow: hidden;
  box-sizing: border-box;
}

.modal-header {
  width: 100%;
  height: 8vh;
  padding: 2vh 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1vh solid #8a8a8a;

  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  font-size: 2vh;
}

.modal-close {
  border: none;
  background: transparent;
  font-size: 2vh;
  cursor: pointer;
}

.modal-body {
  width: 100%;
  padding: 2vh 1vw;
  flex: 1;
  min-height: 0; 

  box-sizing: border-box;
}

.modal-footer {
  width: 100%;
  height: 8vh;
  padding: 2vh 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

/* 입력창 스타일 추가 */
.modal-title-input {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  background: transparent;

  font-size: 2vh;
}

.modal-body-input {
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;

  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  background: transparent;

  font-size: 2vh;
}

/* 푸터 버튼들 */
.modal-footer-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.modal-footer-right {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.modal-radio {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  
  font-size: 2vh;

  cursor: pointer;
  user-select: none;
}

.modal-radio input {
  cursor: pointer;
}

.modal-btn {
  width: 3.5vw;
  height: 3.5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1vh;
  border: 0.1vh solid #d86767e1;
  background-color: #ffa5a5e1;
  color: #3b443f;
  font-size: 1.5vh;
}

.primary {
  border: 0.1vh solid #3b3b3be1;
  background-color: #999999e1;
  color: #ffffff;
}