.hidden {
  display: none;
}

.modal-overlay {
  inset: 0;
  position: fixed;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #00000073;
}

.modal {
  width: 48vw;
  height: 40vh;
  padding: 2vh 2vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: #fff;
  border-radius: 1.5vw;
  box-shadow: 0 1.5vw 2.5vw #00000040;

  overflow: hidden;
  box-sizing: border-box;
}

.modal-header {
  width: 100%;
  height: 8vh;
  padding: 2vh 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1vh solid #8a8a8a;

  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  font-size: 2vh;
}

.modal-close {
  border: none;
  background: transparent;
  font-size: 2vh;
  cursor: pointer;
}

.modal-body {
  width: 100%;
  padding: 2vh 1vw;
  flex: 1;
  min-height: 0; 

  box-sizing: border-box;
}

.modal-footer {
  width: 100%;
  height: 8vh;
  padding: 2vh 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: antiquewhite;

  box-sizing: border-box;
}

/* 입력창 스타일 추가 */
.modal-title-input {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  background: transparent;

  font-size: 2vh;
}

.modal-body-input {
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;

  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  background: transparent;

  font-size: 2vh;
}

/* 버튼 공통 (footer에서 쓸 때) */
.modal-btn {
  padding: 1vh 1.2vw;
  border-radius: 0.8vw;
  border: 0.1vh solid #ddd;
  background: #f7f7f7;
  cursor: pointer;
}

.modal-btn.primary {
  background: #111;
  color: #fff;
  border-color: #111;
}
